<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sparkjolt.contacts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        
        <activity
            android:name="sparkjolt.contacts.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="sparkjolt.contacts.AddContact"
            android:label="Add Contact" >
            <intent-filter>
                <action android:name="sparkjolt.contacts.AddContact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="sparkjolt.contacts.EditContact"
            android:label="Edit Contact" >
            <intent-filter>
                <action android:name="sparkjolt.contacts.EditContact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="sparkjolt.contacts.SearchContact"
            android:label="Search Contact" >
            <intent-filter>
                <action android:name="sparkjolt.contacts.SearchContact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
